{:config-paths
 ["funcool/promesa"
  "etaoin/etaoin/etaoin"
  "babashka/fs"
  "metosin/malli"]

 :linters
 {:clojure-lsp/unused-public-var
  {:level :warning
   :exclude #{aux.test/_wait-for}}

  :unsorted-required-namespaces
  {:level :warning}}

 :lint-as
 {reagent.core/with-let   clojure.core/let
  aux.test/let-wait       clojure.core/let
  devcards.core/defcard   cljs.test/deftest
  devcards.core/deftest   cljs.test/deftest}}
